extends layout

block content
  section#onecol
    #avatar
      img(src='/images/Kevin.png')
      a(href='/') Home
      a(href='/archive') Archive
      a(href='https://www.twilio.com/jobs') Be a Twilion
    table
      tr
        td(style='text-align:center;', colspan="2")
          h2 Character Record
      tr
        th Name
        td Kevin Whinnery
      tr
        th Alignment
        td Neutral Good
      tr
        th Class Level
        td Rogue (16) / Fighter (4)
      tr
        th GitHub
        td
          a(href='https://github.com/kwhinnery') kwhinnery
      tr
        th Twitter
        td
          a(href='https://twitter.com/kevinwhinnery') @kevinwhinnery
      tr
        th Recruiter Spam
        td
          a(href='https://linkedin.com/in/kevinwhinnery') LinkedIn
      tr
        th Contact
        td hello @ kevin.mn
      tr
        th Bio
        td
          p.
            Kevin Whinnery is a generalist software developer for 
            <a href="http://www.twilio.com">Twilio</a>, where he serves on the
            Developer Education team. Kevin builds tools, sample code,
            tutorials, <a href="http://quest.twilio.com">RPGs</a>, or whatever 
            resources are necessary to help the Twilio developers that are 
            changing the way the world communicates.

          p.
            While Kevin likes to work with a variety of programming languages
            and platforms, his favorites usually involve JavaScript. Kevin
            wrote Twilio's <a href="https://twilio.github.io/twilio-node">
            module for Node.js</a>, and is the founder and a co-organizer of
            <a href="https://meetup.com/JavaScriptMN">JavaScriptMN</a>,
            one of Minnesota's largest and most active technical user groups.
            Before joining Twilio, Kevin worked with the team at
            <a href="http://www.appcelerator.com">Appcelerator</a> as they
            built and launched Titanium, a platform for building native mobile
            apps in JavaScript.

          p.
            Kevin lives in Saint Paul, MN with his beautiful wife and three
            devious children.