extends layout

block content
  section#main
    #container
      #markdown!= pageContent

  section#sidebar
    #inventory
      span#title 
        a(href='/') KEVIN.MN
      nav#links
        a(href='/archive') Archive
        a(href='/about') About
        a(href='http://twilio.com/jobs') l337 h4x0r5